body {
    color: rgb(0, 0, 0);
  }
  
 

  .imgborder {
    border: 5px solid rgba(95, 14, 105, 0.932);
  }

  .customercomments {
    padding-left: 5px;
  }

  .fontgruppo {
    font-family:'Trebuchet MS';font-size: 22px;
   }
  
   .card2 {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.centertext {

  text-align: center;
  
  }

  .resizeimg {
    width: 300px;
    height: 300px;
  }

  .cardsize
  {
    width: 30rem;
    height: 50rem;
  }

  .subheadingtext
  {
    font-style: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .titletext
  {
    font-style: bold;
    font-size: 42px;
     
  }
  .restrictimgsize
  {
    max-width: 450px;
    max-height: 549px;
  }

  .fa {
      padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
     margin: 1px 1px;  
    border-radius: 50%;  
    text-align: center;

  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github {
    background: #000000;
    color: white;
  }

  .centeritem {
    margin: auto;
    width: 60%;
     
  }